#! /bin/bash

dependencies=("starship"{{ if eq .isServer false }} "sheldon" "mise"{{ end }})

for dep in "${dependencies[@]}"; do
    if ! command -v $dep >/dev/null 2>&1; then
        echo "Warning: '$dep' is not found. Install it via whatever method is appropriate for your distro"
    fi
done
