{{/* The contents of this file are included in the following config files:
Bash: src/dot_bash_aliases.tmpl
Zsh: src/dot_config/zsh/dot_zsh_aliases.tmpl */}}
mkdircd () {
  mkdir $1
  cd $1
}

alias cl=clear
alias k=kubectl
alias ll="{{ if eq .chezmoi.os "darwin" }}gls{{ else }}ls{{ end }} -AFGhl --group-directories-first --color=auto"
alias rmrf=rm -rf
