# Ignore for all
.gitattributes
.vscode/
.vscode/**
LICENSE
README.md

{{ if ne .chezmoi.os "linux" }}
# Ignore on Linux
## macOS folders
Library/
Library/**
## Windows folders
AppData/
AppData/**
Documents/
Documents/**
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
# Ignore on macOS
## Linux Tabby settings
.config/tabby/
.config/tabby/**
## Linux scripts
.chezmoiscripts/linux/**
## Windows folders
AppData/
AppData/**
Documents/
Documents/**
{{ end }}

# Ignore on Windows
{{ if eq .chezmoi.os "windows" }}
## Linux Tabby settings
.config/tabby/
.config/tabby/**
## Linux/macOS PowerShell settings
.config/powershell/
.config/powershell/**
## Linux/macOS scripts
.chezmoiscripts/linux/**
.chezmoiscripts/linux_and_macos/**
.chezmoiscripts/macos/**
## macOS folders
Library/
Library/**
{{ end }}