.gitattributes
.vscode/
.vscode/**
LICENSE
README.md

{{ if ne .chezmoi.os "darwin" }}
Library/
Library/**
{{ end }}

{{ if (or (ne .chezmoi.os "linux") (ne .chezmoi.os "darwin")) }}
.config/powershell/
.config/powershell/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/tabby/
.config/tabby/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
AppData/
AppData/**
Documents/
Documents/**
{{ end }}
