{{ $gitEmail := promptString "Git email:" "376408+natescherer@users.noreply.github.com" -}}

{{- if eq .chezmoi.os "windows" }}
cd:
    command: {{ lookPath "pwsh.exe" }}
{{- end }}
data:
    gitEmail: {{ $gitEmail }}
    modKey: {{ if eq .chezmoi.os "darwin" }}⌘{{ else }}Ctrl{{ end }}
edit:
    command: nano
