[core]
    autocrlf = false
    editor = {{ .editor }}
[user]
    name = Nate Scherer
    email = {{ .gitEmail }}
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = {{ lookPath "git-credential-manager" }}
{{- end }}
{{- if eq .chezmoi.os "linux" }}
[credential]
    helper = 
        credentialStore = secretservice
        helper = /home/nate/.dotnet/tools/git-credential-manager
{{- end }}
[credential "https://dev.azure.com"]
    useHttpPath = true
[alias]
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
    clone2code =  "!f() { git clone $1 && code $(basename $1 .git); }; f"
