mkdircd (){                                                                                                                                                mkdir $1
  cd $1
}

alias k=kubectl
alias ll="ls -alhF"
alias chezmoi-apply-both="chezmoi apply && chezmoi apply --source {{ .cloudDrivePath }}/Config/chezmoi"