{{- if eq .chezmoi.os "linux" }}
# Set up chezmoi
export PATH="$PATH:{{.chezmoi.homeDir}}/.dotnet/tools"
{{- end }}

# Set up manually downloaded binaries
if [ -d "$HOME/bin" ] ; then
    export PATH="$PATH:$HOME/bin"
fi
