[cmd_duration]
format = 'Last command took [$duration](bold yellow).'

[directory]
truncation_length = 0
truncate_to_repo = false

[hostname]
format = "[$ssh_symbol$hostname]($style) "
ssh_only = false

[kubernetes]
disabled = false
format = '[$symbol$context \($namespace\) $symbol]($style)'
{{- if eq .chezmoi.os "windows" }}
detect_files = ["kubectx"]
{{- else }}
detect_env_vars = ["KUBIE_ACTIVE"]
{{- end }}
style = 'blue bold'

[mise]
disabled = false

[shell]
disabled = false
bash_indicator = "bash"
powershell_indicator = "winps"
pwsh_indicator = "pwsh"

[status]
disabled = false

[username]
show_always = true
format = "[$user]($style)@"