format = """
[](fg:section1)\
$os\
$hostname\
$container\
$username\
[](bg:section2 fg:section1)\
$directory\
[](bg:section3 fg:section2)\
$mise\
[](bg:section4 fg:section3)\
$kubernetes\
[](bg:section5 fg:section4)\
$git_branch\
$git_commit\
$git_status\
[](bg:section6 fg:section5)\
$dotnet\
$golang\
$lua\
$nix_shell\
$nodejs\
$python\
$rust\
$swift\
[](bg:section7 fg:section6)\
$cmd_duration\
[](bg:section8 fg:section7)\
$status\
[](fg:section8)\
$line_break\
$shell\
[❯ ](bold fg:purple)\
"""

palette = "sections"

[palettes.sections]
section1 = "bright-black"
section2 = "white"
section3 = "bright-purple"
section4 = "bright-blue"
section5 = "cyan"
section6 = "bright-green"
section7 = "bright-yellow"
section8 = "red"

[cmd_duration]
style = "bg:section7 fg:black"
format = "[ 󰔟 $duration ]($style)"

[container]
symbol = "⬢"
style = "bg:section1 fg:black"
format = "[ $symbol $name ]($style)"

[directory]
style = "bg:section2 fg:black"
read_only = "󰌾 "
read_only_style = "bg:section2 fg:red"
format = "[  $path ]($style)[$read_only]($read_only_style)"
truncation_length = 0
truncate_to_repo = false

[dotnet]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version 󰓾 $tfm ]($style)"

[git_branch]
symbol = " "
style = "bg:section5 fg:black"
format = "[ $symbol$branch(:$remote_branch) ]($style)"

[git_commit]
tag_symbol = " "
style = "bg:section5 fg:black"
format = "[ $tag_symbol$hash$tag ]($style)"

[git_status]
conflicted = " conflicted "
ahead = " ahead "
behind = " behind "
diverged = " diverged "
untracked = " untracked "
stashed = " stashed "
modified = " modified "
staged = " staged "
renamed = " renamed "
deleted = " deleted "
typechanged = " type changed "
style = "bg:section5 fg:black"
format = "[$all_status$ahead_behind]($style)"

[golang]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version ]($style)"

[hostname]
ssh_symbol = " "
style = "bg:section1 fg:black"
format = "[$ssh_symbol$hostname ]($style)"
ssh_only = false

[kubernetes]
disabled = false
symbol = "☸ "
style = "bg:section3 fg:black"
format = "[ $symbol$context 󱎃 $namespace ]($style)"
{{- if eq .chezmoi.os "windows" }}
detect_files = ["kubectx"]
{{- else }}
detect_env_vars = ["KUBIE_ACTIVE"]
{{- end }}

[lua]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version ]($style)"

[memory_usage]
symbol = "󰍛 "

[mise]
disabled = false
symbol = "󰭼 "
style = "bg:section4 fg:black"
format = "[ $symbol$health ]($style)"

[nix_shell]
symbol = " "
style = "bg:section6 fg:black"
format ="[$symbol$state( \\($name\\)) ]($style)"

[nodejs]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version ]($style)"

[os]
disabled = false
style = "bg:section1 fg:black"
format = "[ $symbol]($style)"

[os.symbols]
Alpine = " "
Arch = " "
Debian = " "
Fedora = " "
FreeBSD = " "
Linux = " "
Macos = " "
NixOS = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Ubuntu = " "
Windows = " "

[package]
symbol = "󰏗 "

[python]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version \\(($virtualenv)\\) ]($style)"

[rust]
symbol = "󱘗 "
style = "bg:section6 fg:black"
format = "[ $symbol$version ]($style)"

[swift]
symbol = " "
style = "bg:section6 fg:black"
format = "[ $symbol$version ]($style)"

[shell]
disabled = false
bash_indicator = "bash"
powershell_indicator = "winps"
pwsh_indicator = "pwsh"
style = "purple"
format = "[ $indicator ]($style)"

[status]
disabled = false
symbol = ""
style = "bg:section8 fg:black"
format = "[ $symbol $status ]($style)"

[username]
show_always = true
style_user = "bg:section1 fg:black"
style_root = "bg:section1 fg:red"
format = "[ $user ]($style)"
