format = """
[](fg:red)\
$os\
$hostname\
$container\
$username\
[](bg:bright-black fg:red)\
$directory\
[](bg:blue fg:bright-black)\
$kubernetes\
[](bg:bright-red fg:blue)\
$mise\
[](bg:yellow fg:bright-red)\
$git_branch\
$git_commit\
$git_status\
[](bg:green fg:yellow)\
$dotnet\
$golang\
$lua\
$nix_shell\
$nodejs\
$python\
$rust\
$swift\
[](bg:cyan fg:green)\
$cmd_duration\
$status\
[](fg:cyan)\
$line_break\
$shell\
[❯ ](bold fg:purple)\
"""

[cmd_duration]
format = "[ 󰔟 $duration ]($style)"
style = "bg:cyan fg:black"
show_notifications = true

[container]
symbol = "⬢"
format = "[ $symbol $name ]($style)"
style = "bg:red fg:black"

[directory]
format = "[  $path ]($style)[$read_only]($read_only_style)"
truncation_length = 0
truncate_to_repo = false
read_only = "󰌾 "
read_only_style = "bg:bright-black fg:red"
style = "bg:bright-black fg:black"

[dotnet]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version 󰓾 $tfm ]($style)"

[git_branch]
format = "[ $symbol$branch(:$remote_branch) ]($style)"
style = "bg:yellow fg:black"
symbol = " "

[git_commit]
tag_symbol = ""
format = "[  $hash$tag ]($style)"
style = "bg:yellow fg:black"

[git_status]
conflicted = " conflicted "
ahead = " ahead "
behind = " behind "
diverged = " diverged "
untracked = " untracked "
stashed = " stashed "
modified = " modified "
staged = " staged "
renamed = " renamed "
deleted = " deleted "
typechanged = " type changed "
style = "bg:yellow fg:black"
format = "[$all_status$ahead_behind]($style)"

[golang]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version ]($style)"

[hostname]
format = "[$ssh_symbol$hostname ]($style)"
ssh_only = false
ssh_symbol = " "
style = "bg:red fg:black"

[kubernetes]
symbol = "☸ "
disabled = false
format = "[ $symbol$context 󱎃 $namespace ]($style)"
{{- if eq .chezmoi.os "windows" }}
detect_files = ["kubectx"]
{{- else }}
detect_env_vars = ["KUBIE_ACTIVE"]
{{- end }}
style = "bg:blue fg:black"

[lua]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version ]($style)"

[memory_usage]
symbol = "󰍛 "

[mise]
disabled = false
symbol = "󰭼 "
format = "[ $symbol$health ]($style)"
style = "bg:bright-red fg:black"

[nix_shell]
symbol = " "
style = "bg:green fg:black"
format ="[$symbol$state( \\($name\\)) ]($style)"

[nodejs]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version ]($style)"

[os]
disabled = false
format = "[ $symbol]($style)"
style = "bg:red fg:black"

[os.symbols]
Alpine = " "
Arch = " "
Debian = " "
Fedora = " "
FreeBSD = " "
Linux = " "
Macos = " "
NixOS = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Ubuntu = " "
Windows = " "

[package]
symbol = "󰏗 "

[python]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version \\(($virtualenv)\\) ]($style)"

[rust]
symbol = "󱘗 "
style = "bg:green fg:black"
format = "[ $symbol$version ]($style)"

[swift]
symbol = " "
style = "bg:green fg:black"
format = "[ $symbol$version ]($style)"

[shell]
disabled = false
format = "[ $indicator ]($style)"
bash_indicator = "bash"
powershell_indicator = "winps"
pwsh_indicator = "pwsh"
style = "white"

[status]
disabled = false
symbol = ""
format = "[ $symbol $status ]($style)"
style = "bg:cyan fg:red"

[username]
show_always = true
format = "[ $user ]($style)"
style_user = "bg:red fg:black"
style_root = "bg:red fg:bright-red"
