function Invoke-GetChildItemWithOptions {
    Get-ChildItem -Force 
}

function mkdircd([string]$Path) {
    mkdir $Path
    cd $Path
}

function rmrf([string]$Target) {
    Remove-Item -Recurse -Force $Target
}

Set-Alias -Name k -Value kubectl
Set-Alias -Name ll -Value Invoke-GetChildItemWithOptions
