{{/* The contents of this file are included in the following config files:
Linux/macOS: src/dot_config/powershell/aliases.ps1.tmpl
Windows: src\Documents\PowerShell\aliases.ps1.tmpl */}}
function Invoke-GetChildItemWithOptions {
    Get-ChildItem -Force
}

function mkdircd([string]$Path) {
    mkdir $Path
    cd $Path
}

function rmrf([string]$Target) {
    Remove-Item -Recurse -Force $Target
}

Set-Alias -Name cl -Value clear
Set-Alias -Name k -Value kubectl
Set-Alias -Name ll -Value Invoke-GetChildItemWithOptions
