# Set up shell completions
autoload -Uz compinit 
if [[ -n ${ZDOTDIR}/.zcompdump(#qN.mh+24) ]]; then
	compinit;
else
	compinit -C;
fi;

{{ if findExecutable "brew" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin") -}}
# Activate Homebrew
eval "$({{ findExecutable "brew" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin") }} shellenv)"

{{ end -}}
# Set colors
[[ -z "$LS_COLORS" ]] || zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

# Allows title to be set from within the shell
DISABLE_AUTO_TITLE="true"

# Set default editor
export EDITOR="{{ .editor }}"

# Source aliases
source ${ZDOTDIR}/.zsh_aliases

# Activate vfox
eval "$(vfox activate zsh)"

# Activate Starship
eval "$(starship init zsh)"