#! /bin/zsh

{{ joinPath .chezmoi.sourceDir ".scriptdata/macos_defaults/**.plist" | glob | range -}}
{{ $plist_file := print . ".plist" }}
# The below ensures that this file will change when the hashed files change, triggering this script to execute
## {{ $plist_file }} hash: {{ joinPath ".scriptdata/macos_defaults/" $plist_file | include  | sha256sum }}
defaults import {{ . }} {{ joinPath $.chezmoi.sourceDir ".scriptdata/macos_defaults/" $plist_file }}
echo "\033[1;34mImporting ~/.config/defaults/{{ $plist_file }} via 'defaults import'...\033[0m"

{{ end -}}
