#! /bin/zsh

domains=({{ .macos_defaults_apps | quoteList | join " " }})

if [ ! -d ~/.config/defaults ]; then
    mkdir ~/.config/defaults
fi

for domain in "${domains[@]}"; do
    set +e
    defaults export $domain > ~/.config/defaults/$domain.plist
    set -e
done