#! /bin/zsh

{{ $globOutput := joinPath .chezmoi.sourceDir ".scriptdata/macos_defaults/**.plist" | glob }}
{{ range $sourceDirPlistPath := $globOutput -}}
echo "sourceDirPlistPath: {{ $sourceDirPlistPath }}"
{{ $plistFile := base $sourceDirPlistPath -}}
echo "plistFile: {{ $plistFile }}"
{{ $appDomain := trimSuffix ".plist" $plistFile -}}
echo "appDomain: {{ $appDomain }}"
# The below ensures that this file will change when the hashed files change, triggering this script to execute
## {{ $plistFile }} hash: {{ joinPath ".scriptdata/macos_defaults/" $plistFile | include | sha256sum }}
# defaults import {{ . }} {{ $sourceDirPlistPath }}
# echo "\033[1;34mImporting ~/.config/defaults/{{ $plistFile }} via 'defaults import'...\033[0m"

{{ end -}}
