[core]
    autocrlf = false
    editor = {{ .editor }}
    excludesFile = {{ joinPath .chezmoi.homeDir ".config" "git" "ignore" | replaceAllRegex "\\" "\\\\" }}
[user]
    name = {{ .gitName }}
    email = {{ .gitEmail }}
{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
[credential]
{{- if eq .chezmoi.os "linux" }}
    credentialStore = {{ if eq .isServer true }}cache{{ else }}secretservice{{ end }}
{{- end }}
    helper = {{ lookPath "git-credential-manager" }}
{{- end }}
[credential "https://dev.azure.com"]
    useHttpPath = true
[alias]
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
    clone2code =  "!f() { git clone $1 && code $(basename $1 .git); }; f"
