# Fix weird formatting in Get-ChildItem Output
$PSStyle.Formatting.CustomTableHeaderLabel = $PSStyle.Formatting.TableHeader
{{- if eq .chezmoi.os "windows" }}

# Override HOME, as it breaks devcontainer mounts if it is set on Windows
$env:HOME = ""

# Add ~\bin to PATH
$env:PATH = "$env:PATH;{{ .chezmoi.homeDir }}\bin"
{{- end }}

# Activate Vfox
Invoke-Expression "$(vfox activate pwsh)"

# Activate Starship
Invoke-Expression (&starship init powershell)
