function Invoke-BothChezmoiApplys {
    & chezmoi apply
    & chezmoi apply --source $( Join-Path "{{ .cloudDrivePath }}" "Config" "chezmoi")
}

function Invoke-GetChildItemWithOptions {
    Get-ChildItem -Force 
}

Set-Alias -Name k -Value kubectl
Set-Alias -Name chezmoi-apply-both -Value Invoke-BothChezmoiApplys
Set-Alias -Name ll -Value Invoke-GetChildItemWithOptions