function Invoke-GetChildItemWithOptions {
    Get-ChildItem -Force 
}

function mkdircd([string]$Path) {
    mkdir $Path
    cd $Path
}

Set-Alias -Name k -Value kubectl
Set-Alias -Name ll -Value Invoke-GetChildItemWithOptions