# Ignore files that are processed by scripts
.scriptdata/
.scriptdata/**

{{- if eq .chezmoi.os "linux" }}
# Ignore on Linux
## macOS folders
Library/
Library/**
## macOS scripts
.chezmoiscripts/macos/
.chezmoiscripts/macos/**
## Windows folders
AppData/
AppData/**
Documents/
Documents/**
## Windows scripts
.chezmoiscripts/windows/
.chezmoiscripts/windows/**
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# Ignore on macOS
## Linux Tabby
.config/tabby/
.config/tabby/**
## Linux scripts
.chezmoiscripts/linux/**
## Windows folders
AppData/
AppData/**
Documents/
Documents/**
## Windows scripts
.chezmoiscripts/windows/
.chezmoiscripts/windows/**
{{- end }}

{{- if eq .chezmoi.os "windows" }}
# Ignore on Windows
## Bash
.bash_aliases
.bash_profile
.bashrc
## Linux Tabb
.config/tabby/
.config/tabby/**
## Linux/macOS PowerShell
.config/powershell/
.config/powershell/**
## Linux/macOS scripts
.chezmoiscripts/linux/
.chezmoiscripts/linux/**
.chezmoiscripts/linux_and_macos/
.chezmoiscripts/linux_and_macos/**
.chezmoiscripts/macos/
.chezmoiscripts/macos/**
## macOS folders
Library/
Library/**
## Sheldon config
.config/sheldon/
.config/sheldon/**
## SSH
.ssh/
.ssh/**
## Zsh
.zshenv
.config/zsh/
.config/zsh/**
{{- end }}

{{- if eq .isServer true }}
# Ignore on servers
## Tabby
.config/tabby/
.config/tabby/**
AppData/Roaming/tabby/
AppData/Roaming/tabby/**
## Git
.config/git/
.config/git/**
## NPM
.config/npm/
.config/npm/**
## Sheldon
.config/sheldon/
.config/sheldon/**
## Starship
{{- end }}

{{- if eq .skipBash true }}
# Bash
.bash_aliases
.bash_profile
.bashrc
{{- end }}
