{{- $isPersonal := promptBoolOnce . "isPersonal" "Is this a a personal computer? (Enter for default)" true }}
{{- $editor := "micro" }}

{{- $adminRightsPrompt := "Does your regular user account have admin rights on this machine?" }}
{{- if eq .chezmoi.os "linux" }}
{{- $adminRightsPrompt = "Does your regular user account have sudo rights on this machine?" }}
{{- end }}
{{- $adminRights := promptBoolOnce . "adminRights" $adminRightsPrompt false }}

{{- $applyOSConfigPrompt := "" }}
{{- if eq .chezmoi.os "windows" }}
{{- $applyOSConfigPrompt = "Apply WinGet Configuration files to declaratively configure this Windows machine? (Enter for default)" }}
{{- else if eq .chezmoi.os "darwin" }}
{{- $applyOSConfigPrompt = "Apply Ansible playbook to declaratively configure this Mac? (Enter for default)" }}
{{- end }}

{{- $applyOSConfig := false }}
{{- if or (eq .chezmoi.os "windows") (eq .chezmoi.os "darwin") }}
{{- $applyOSConfig = promptBoolOnce . "applyOSConfig" $applyOSConfigPrompt false }}
{{- end }}

{{- $isVM := false }}
{{- if eq .chezmoi.os "windows" }}
{{- $isVM = promptBoolOnce . "isVM" "Is this a VM? (Enter for default)" false }}
{{- end }}

{{- if eq .chezmoi.os "windows" }}
cd:
    command: pwsh
{{- end }}
data:
    # COPIER-ME
    editor: {{ $editor }}
    # COPIER-ME
    gitName: Nate Scherer
    # COPIER-ME
    gitEmail: 376408+natescherer@users.noreply.github.com
    applyOSConfig: {{ $applyOSConfig }}
    isPersonal: {{ $isPersonal }}
    adminRights: {{ $adminRights }}
    isVM: {{ $isVM }}
diff:
    command: "code"
    args:
    - "--wait"
    - "--diff"
    exclude:
        - scripts
edit:
    command: {{ $editor }}
{{- if eq .chezmoi.os "windows" }}
interpreters:
    ps1:
        command: pwsh
    py:
        command: python
{{- end }}
