{{ $isServer := promptBool "Is this a server? (Enter for default)" "no" -}}
{{ $editor := promptString "Console editor (Enter for default):" "nano" -}}

{{- if eq .chezmoi.os "windows" }}
cd:
    command: pwsh
{{- end }}
data:
    editor: {{ $editor }}
{{- if $isServer false }}
{{- $gitEmail := promptString "Git email (Enter for default):" "376408+natescherer@users.noreply.github.com" }}
    gitEmail: {{ $gitEmail }}
    modKey: {{ if eq .chezmoi.os "darwin" }}⌘{{ else }}Ctrl{{ end }}
{{- end }}
    isServer: {{ $isServer }}
diff:
    exclude:
        - scripts
edit:
    command: {{ $editor }}
{{- if eq .chezmoi.os "windows" }}
interpreters:
    ps1:
        command: pwsh
{{- end }}
