{{- template "bash_and_zsh/env.sh.tmpl" . }}
# PATH additions
export PATH="$PATH:{{ .chezmoi.homeDir }}/bin"

# Zsh-Specific Configs
export LS_COLORS="di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43" # ls: Set color scheme
export ZDOTDIR="$XDG_CONFIG_HOME/zsh" # Zsh: Repoint config from home
export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh" # Zsh: Repoint cache from home
