# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
properties:
  configurationVersion: 0.2.0
  resources:
    ### Fonts Start
    {{- $globOutput := joinPath .chezmoi.homeDir ".local" "share" "chezmoifonts" "**.otf" | glob }}
    {{- range $fontPath := $globOutput }}
    - resource: DSCR_Font/cFont
      id: {{ trimSuffix ".otf" (osBase $fontPath) }}
      directives:
        securityContext: elevated
      settings:
        FontName: {{ trimSuffix ".otf" (osBase $fontPath) }}
        FontFile: {{ $fontPath }}
    {{- end }}
    ### Fonts End
